<div
  style="display: flex; gap: 1rem; justify-content: flex-start; margin: 2rem 0"
>
  <a
    href="/resume/MerAt-Akbari-Resume.pdf"
    style="
      text-decoration: none !important;
      border-bottom: none;
      box-shadow: none;
    "
  >
    <img
      src="/resume/download-pdf-button.svg"
      alt="Download PDF version of Resume"
      style="border: none; box-shadow: none"
    />
  </a>
  <a
    href="https://docs.google.com/document/d/1uIeBzdZ1L33uYQ-wW2Q5ke8rp2yUD3Ue/edit?usp=sharing&ouid=108721484006530273802&rtpof=true&sd=true"
    style="
      text-decoration: none !important;
      border-bottom: none;
      box-shadow: none;
    "
  >
    <img
      src="/resume/google-docs-button.svg"
      alt="Google Docs version of Resume"
      style="border: none; box-shadow: none"
    />
  </a>
</div>
